@import "../../../../variables.scss";
@import "../../../../text.scss";

.actionsCell {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ant-btn-link {
    color: $sp-blue;
  }

  .ant-btn-dangerous {
    color: $sp-red;
  }
}
