@import "../../../variables.scss";
@import "../../../text.scss";

.otherSettings {

  .locationsTitle {
    @include header2;
    margin-bottom: 35px;
  }

  .locationsSubTitle {
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
  }

  .locationsSearchContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .locationsSearch {
      margin-right: 24px;
    }

    .locationsAddNewButton {
      padding: 0 20px;
      width: 182px;

      &[disabled] {
        background: rgba(111, 218, 165, 0.5) !important;
      }
    }
  }
  .locationsTable{

    display: flex;

    .recordOpened{
      width: 50%;
    }

    
  .locationsTable_row:hover , .locationsTable_row.active{
    cursor: pointer;
      span{
        color: $sp-blue;
        border-bottom: 1px solid $sp-blue;
      }
    } 
  }

  .locationsTip {
    margin: 16px 0;
  }

  .ant-page-header {
    padding: 0;
  }
}
